GOLDFISH_DB_PASSWORD=password

# Grafana Cloud Loki Logging
GRAFANA_CLOUD_LOGS_TENANT=tenant
GRAFANA_CLOUD_LOGS_API_KEY=key
GRAFANA_CLOUD_LOGS_HOST=something.grafana.net

# Dev environment to test against
LOKI_DEV_TENANT=tenant
LOKI_DEV_HOST=host
LOKI_DEV_BASIC_AUTH_PASSWORD=password
