{
  "extends": "./.config/.eslintrc",
  "overrides": [
    {
      "files": ["**/*.test.ts", "**/*.test.tsx", "**/*.spec.ts", "**/*.spec.tsx"],
      "rules": {
        "@typescript-eslint/no-deprecated": "off"
      }
    }
  ]
}
